.*
!.empty
!.gitignore
Debian_CPANTS.txt
blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
_dev/
logs/development.log
tmon.out
cover_db_view
nytprof
.DS_Store
redis-server.log
dump.rdb
